

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
  --color-white: #fff;
  --color-dark1: rgb(39, 39, 39);
  --color-dark2: #2d2d2d;
  --color-dark3: #414141;
  --color-dark4: #1c1c1c;
  --color-dark5: #343434;
  --color-purple: #b040ff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--color-white);
}





a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background:#CDD0D6;
    background:;
    height: 10vh;
    overflow-x: hidden !important;


    
  }
  

  
  .nav-list {
    list-style: none;
    display: flex;
    
  }
  
  .nav-list li {
    letter-spacing: 5px;
    margin-left: 36px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;




  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
    overflow-x: hidden !important;
  }
  
  @media (max-width: 999px) {
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
      

    }
    .mobile-menu {
      display: block;
      
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


        /* Estilos da seção com imagem de fundo */
        .section-1 {
            background-image: url('views/pexels-max-rahubovskiy-6238614.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100%;
            color:rgb(7, 7, 7);
            display: flex;
            flex-direction: column; /* Empilha os elementos verticalmente */
            justify-content: center; /* Centraliza horizontalmente */
            align-items: flex-start; /* Alinha à esquerda */
            padding: 20px;
            margin: 0 auto; /* Centraliza a seção horizontalmente */
            box-sizing:border-box
        }


        .section-1 h2 {
            font-style: bold;
            font-weight: 800;
            font-size: clamp(2rem, 2.5vw, 50px);
            line-height: 50px;
            color: var(--blue);
        }
        
        
        h2::after {
            content: "|";
            opacity: 1;
            margin-left: 10px;
            display: inline-block;
            animation: blink .7s infinite;
        }
        
        @keyframes blink {
            0%, 100% {
                opacity: 1;
            }
        
            50% {
                opacity: 0;
            }
        }

        .section-1 p {
            font-size: 16px;
            font-style: oblique;
            font-weight: bold;
        }

        /*edição no button*/
        .section-1 button {
            padding: 10px 20px;
            font-size: clamp(10%,30px);

            background-color: #FE775A;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width:400px;
            cursor: pointer;
        }

            .section-1 button:hover{

                background-color: transparent;
                transition:1s ;
                color: #000000;
            }
        

        .section-inicial{
            margin-left: 80px;
        }

        

        .cor {
            background-color: #c3c6cd9a;
            width: 100%;
            height: 130px;
        }
        .titulo-div{
            font-size: 5px;
        }
        
        /* Estilos para telas maiores (notebooks e desktops) */
        @media screen and (min-width: 769px) {
            .cor {
                height: 130px; /* Mantém a altura original */
            }
        }
        
        /* Estilos para telas menores (celulares) */
        @media screen and (max-width: 768px) {
            .cor {
                height: auto; /* Define a altura para automática (se adaptar ao conteúdo) */
                padding: 10px; /* Adiciona espaço interno para melhor visualização em telas menores */
            }
        }

        .containerproje{
            position: relative;
        }
        
        .containerproje .slide-container .slide{
            min-height: 100vh;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
            padding: 20px 9%;
            padding-bottom: 70px;
        }
        
        .containerproje .slide-container .slide .contentproje{
            flex: 1 1 350px;
            animation: slideContent .4s linear .4s backwards;
        }
        
        @keyframes slideContent{0%
        {
            opacity: 0;
            transform: translateX(-50px);
        }
        }
        
        
        .containerproje .slide-container .slide .contentproje h3{
            font-size: 35px;
            color: #f4a6fe;
            font-family: 'Noto Sans', sans-serif;
        }
        
        .containerproje .slide-container .slide .contentproje p{
            font-size: 16px;
            color: #ffffff;
            font-family: 'Noto Sans', sans-serif;
            width: 40%;
            height: 10%;
        
        }
        
        .containerproje .slide-container .slide .contentproje .bntproj{
            margin-top: 10px;
            display: inline-block;
            background: #8932c3;
            color: #ffffff;
            font-size: 17px;
            padding: 9px 40px;
            border-radius: 5px;
            border: 2px solid #8932c3;
            font-family: 'Noto Sans', sans-serif;
            text-decoration: none;
    
        }
        
        .containerproje .slide-container .slide .contentproje .bntproj:hover{
            background: #a355d7;
            border: 2px solid #a355d7;
            color: #ffffff;
        }
        
        .containerproje .slide-container{
            display: none;
        }
        
        .containerproje .slide-container.active{
            display: block;
        }
        
        .containerproje .slide-container:nth-child(1) .slide{
            background: url(./views/perspectiva_imagem_06.jpg);
            background-size:cover;
            background-repeat: no-repeat;
            width: 82%;
            height: 100vh;
        }
        
        .containerproje .slide-container:nth-child(2) .slide{
            background: url(./views/Captura\ da\ Web_5-9-2023_13530_.jpeg);
            background-size:cover;
            background-repeat: no-repeat;
            width: 82%;
            height: 100vh;
        }
        
        .containerproje .slide-container:nth-child(3) .slide{
            background: url(./views/Captura\ da\ Web_29-8-2023_13147_\ \(1\).jpeg);
            background-size:cover;
            background-repeat: no-repeat;
            width: 82%;
            height: 100vh;
        }
        
        .containerproje #prev, 
        .containerproje #next {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            color: #ffffff;
            background: #000000;
            height: 50px;
            width: 50px;
            line-height: 50px;
            font-size: 25px;
            text-align: center;
            cursor: pointer;
            font-weight: bolder;
            border-radius: 10px;
        }
        
        .containerproje #prev:hover, 
        .containerproje #next:hover{
            background: #000000;
        }
        .containerproje #prev{
            left: 20px;
        }
        
        .containerproje #next{
            right: 20px;
        }
        
        
        
        @media(max-width: 500px){
            .containerproje #prev{
                left: 0px;
                top: 60%;
            }
        
            .containerproje #next{
                right: 0px;
                top: 60%;
            }
        
        
            .containerproje .slide-container .slide .contentproje p{
                font-size: 16px;
                color: #ffffff;
                font-family: 'Noto Sans', sans-serif;
                width: 70%;
                height: 10%;
            
            }
        }

        .slide-container{
            transition:   all 10s linear;
            box-sizing: border-box;
        }

        .slide-container:hover{
            scale:1.2;
        }

        .section-sobremim{
    background-color:#dfd9d99a;
    width: 100%;
    padding: 100px 0px;
    
}

.section-sobremim img{
    width: 430px;
    height: auto;
    border-radius: 20px;
}

.section-sobremim img:hover{

    box-shadow: 0 0 8px  #FE775A;
    border: solid 1px white;
}

.div-contenttext{
    width: 550px;
    }

.main-contentsobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.div-contenttext h2{
    color:  #FE775A;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.div-contenttext h3{
    color: #000000;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.div-contenttext p{
    color: #000000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 45px;
}



.a-sites{

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #05E7F1;
}

.a-sites:hover{
    color: white;
    text-decoration: underline;
}

.titulo-div{
    font-size: 40px;
    text-align: center;
    color: #000000;
    padding: 40px;
    font-weight: lighter;
}

.form-container {
    background-image: url(views/pexels-kevin-menajang-920025.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Isso centraliza verticalmente */
    background-color: #f0f0f0; /* Define uma cor de fundo para a seção */
}
.container2{
    max-width: 1280px;
    margin: 0 auto;
    padding: 6%;
    
}

.title-form{
    text-align: center;
}

form{
    background: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box-shadow discreto */
}

form h1{
    text-align: center;
    margin-bottom: 10px;
    color: #2D5966;
    font-size: 22pt;
}

form p{
    text-align: center;
    margin-bottom: 25px;
}

form .input-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #808080;
}

form .input-single .input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus{
    border-bottom: 2px solid #2D5966;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #2D5966;
}

.btn{
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #2D5966;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
}
/* Estilo padrão do botão de hambúrguer */
.menu-toggle {
    display: none; /* Inicialmente oculto em telas maiores */
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  /* Estilo para telas menores usando media query */

/* Estilos para telas menores usando uma media query */
@media screen and (max-width: 600px) {
    #menu {
        display: block;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    #menu a {
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color: white;
        display: block;
    }

    html, Body {
        Overflow-x: hidden; 
        }
}